node_modules/**
levels/**
levels_0level/**
levels_data/**
data/**
data_v2/**
models/**
plots/**
py/**
crops/**
plots/**
plots_weighted/**
crops_weighted/**
*.tar.gz
.DS_Store
levels_resized/**
levels_resized_rgb/**
levels_3ch/**
augmented_levels/**
3channel_resize/**
viz/**
viz_weighted/**.claude/
.claude/
experiments/**
cnn_exp/data/**
colab/**
levels.zip